
.Search {
    /* color: #8458B3;
    font-family: "Poppins";
    font-size: 12pt;
    background-color: #e5eaf5;
    border-color: #8458B3;
    border-width: 5px;
    border-radius: 5cm;
    resize:none;
    width: 100%; */
    background-color: #e5eaf5;
    height: 100%;
    font-size: 1.25rem;
    font-family: "Poppins";
    color: #8458B3;
    width: 100%;
    border-color: #8458B3;
    border-width: 4px;
    border-radius: 5cm;
    margin-left: 5px;
  }

.Search:focus {
    outline: none;
}

 .SearchWrapper {
    background-color: #e5eaf5;
    width: 100%;
    height: 2.5rem;
    padding: 0 15px;
    border-color: #8458B3;
    border-width: 5px;
    border-radius: 5cm;
    display: flex;
    align-items: center;
  } 

.Icon {
    color: #8458B3;
    size: "6x";
}

.ResultsList {
    width: 100%;
    background-color: #e5eaf5;
    border-color: #8458B3;
    border-width: 5px;
    border-radius: 5cm;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
}