
  
  .TitleContainer-cp {
    background-color: #d0bdf4;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  }
  
  .Title-font {
    font-family: "Poppins", extrabold;
  }
 
  body {
    background-color: #d0bdf4;
    color: #8458B3;
  }

  .Container-cp {
    max-width: 400px;
    margin: auto;
    text-align: center;
    flex-direction: column;
  }

  .Title-cp {
    color: #8458B3;
    font-size: 48pt;
    text-align: center;
    line-height: 58px;
    /* margin-left: 20px; */
    font-family: "Poppins", extrabold;
    margin-bottom: 40px;
    margin-top: 20px;
  }


  .createP {
    margin-top: 200px;
      max-width: 50%;
      background: #e5eaf5;
      border: solid #8458B3;
      border-color: #8458B3;
      border-width: 10px;
      border-radius: 30px;
      padding: 20px;
      margin-bottom: 20px;
      font-size: 24pt;
      font-family: "Poppins", extrabold;
  }

 
  .Create-cp {
    background-color: #d0bdf4;
    border: none;
    color: #8458b3;
    padding: 10px 20px;
    cursor: pointer;
    margin: auto; /* Center horizontally */
    font-size: 40px; /* Adjust the font size */
    border-radius: 10px;
    display: block; /* Make it a block-level element to center vertically */
    border: 3px solid #8458b3;
  }

  .Create-cp:hover{
    background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
  border: none;
  }
  
    
      
  

  


