
  
  .TitleContainer-ct {
    background-color: #d0bdf4;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  }
  
  .Title-ct-font {
    font-family: "Poppins", extrabold;
  }
  
  .Graphic {
    /* width: 700px;
    margin-left: 50px; */
    width: 60%;
    height: 60%;
  }
  
  .Slogan {
    color: #8458B3;
    font-size: 56pt;
    align-items: start;
    margin-left: 50px;
    font-family: "Poppins", extrabold;
    margin-top: 100px;
  }
  
  .oldButton-ct {
    color: #e5eaf5;
    font-family: "Poppins";
    font-size: 20pt;
    width: 300px;
    height: 70px;
    background-color: #8458B3;
    border-radius: 2cm;
    border-style: hidden;
    align-self: center;
    margin-top: 20px;
  }

  .AddTaskTitle-ct {
    color: #8458B3;
    font-family: "Poppins";
    font-size: 28pt;
    background-color: #e5eaf5;
    border-color: #8458B3;
    border-width: 7px;
    border-radius: 5cm;
    resize:none;
    width: 100%;
    height: 70px;
    padding: 3px;
    padding-left: 10px;
    align-self: auto;
  }

  .TaskTitle-ct {
    color: #8458B3;
    font-size: 26pt;
    align-items: center;
    /* margin-left: 20px; */
    font-family: "Poppins", extrabold;
  }

  .AddTitle-ct {
    color: #8458B3;
    font-size: 18pt;
    text-align: center;
    align-items: center;
    width: 100%;
    /* margin-left: 20px; */
    font-family: "Poppins", extrabold;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", extrabold;
  }

  body {
    background-color: #d0bdf4;
    color: #8458B3;
  }

  .Container-ct {
    max-width: calc(100% - 500px);
    width: 100%;
    padding-right: 10px;
    flex-direction: column;
  }

  .BigBox-ct {
    /* max-width: calc(100% - 500px);
    width: 100%;
    margin: auto;
    flex-direction: row; */

    background-color: #d0bdf4;
    min-height: 5vh;
    display: flex;
    max-width: 90%;
    flex-direction: row;
    justify-content:center;
    align-content: center;
    margin-left: 5%;
  }

  /*section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }*/

  .Tasks-ct {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .MemberContainer-ct {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;

    max-width: calc(25%);
    width: 100%;
    height: 520px;
    background: #e5eaf5;
    border: solid #8458B3;
    border-color: #8458B3;
    border-width: 10px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .AddMember-ct {
    max-width: calc(33.33% - 20px);
    width: 100%;
    height: 520px;
    background: #e5eaf5;
    border: solid #8458B3;
    border-color: #8458B3;
    border-width: 10px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .Task-ct {
    
    max-width: calc(33.33% - 20px);
    width: 100%;
    height: 250px;
    background: #e5eaf5;
    border: solid #8458B3;
    border-color: #8458B3;
    border-width: 10px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;

    transition: .3s;
  }

  /* .Task:hover{
    background: #acb5c9;
    color: #643e8d;
  } */

  .SubmitButton-ct {
    color: #e5eaf5;
    font-family: "Poppins";
    font-size: 20pt;
    width: 300px;
    height: 70px;
    background-color: #8458B3;
    border-radius: 2cm;
    border-style: hidden;
    align-self: center;
    margin-top: 20px;
    justify-self: center;
  }

  .SubmitButton:hover{
    background-color: #643e8d;
  }

  .ButtonBox {
    margin-left: 54%;
    margin-top: -2%;
  }

  .TaskButton-ct {
    color: #e5eaf5;
    font-family: "Poppins";
    font-size: 40pt;
    width: 70px;
    height: 70px;

    background-color: #8458B3;
    border-radius: 5cm;
    border-style: hidden;
    align-self: center;
    margin-top: calc((10% - 20px));
    margin-left: calc((35%));

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
  }

  .TaskButton-ct:hover{
    background-color: #643e8d;
  }

  .Title-ct {
    color: #8458B3;
    font-size: 48pt;
    text-align: center;
    line-height: 58px;
    /* margin-left: 20px; */
    font-family: "Poppins", extrabold;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .TaskContainer-ct {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;

    max-width: 100%;
    width: 100%;
    height: 520px;
    background: #e5eaf5;
    border: solid #8458B3;
    border-color: #8458B3;
    border-width: 7px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .TaskContainer2-ct {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }

  .Assign-ct {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;

    max-width: calc(25%);
    width: 100%;
    height: 596px;
    background: #e5eaf5;
    border: solid #8458B3;
    border-color: #8458B3;
    border-width: 7px;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
  }

  textarea {
    resize:none;
  }

  select {
    width: 100%;
  }

ul {
  width: 100%;
}

.DueDate {
  width: 100%;
}

input {
  width: 100%;
  margin: auto;
}
