:root {
    --main-radius: 30px;
    --main-padding: 20px;
}

body {
    font-family: "Poppins", bold;
}
  
.container2 {
    background-image: url("clouds.png");
    display: grid;
    height: 100vh;
    grid-template-columns: 1.0fr 1.0fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.2fr;
    grid-template-areas:
      "nav nav nav nav"
      "content1 main main content2"
      "content1 main main content3";
    grid-gap: 0.8rem;
    font-weight: 800;
    font-size: 40px;
    color:  #494d5f;
    text-align: center;
    padding-left: 1.7%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
}

.nav2 {
    grid-area: nav;
    text-align: center;
    font-size: 40px;
  }

.button3{
    background: none;
    color: #494d5f;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px; 
    position: absolute;
    right: 600px;
    top: 10px;
}

.button3:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}
  
.main2 {
    background-color:#b7a4b4da;
   
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: dashed;
    border-width: 5px;
    border-color:#727088;
    margin-bottom: 40px;
  }

.button4{
    background: none;
    color: #494d5f;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px; 
    position: absolute;
    right: 200px;
    top: 30px;
}
.button4:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}
  

  
.content1b {
  
    grid-area: content1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    
    
}
  
.content2b {
    grid-area: content2;
    border-style: dashed; 
    border-width: 5px;
    border-color: #727088; 
    background-color:#b7a4b4da;
    font-size: 30px;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    margin-bottom: 55px;
  }
  
.content3b {
    grid-area: content3;
    border-style: dashed; 
    border-width: 5px;
    border-color:#727088;
    background-color:#b7a4b4da;
    font-size: 30px;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    margin-bottom: 40px;
    margin-top: -50px;
  }
  


  .sectionb{
    font-size: 28px;
    text-align: left;
    border-style: dashed;
    border-width: 5px;
    border-color:#727088;
    background-color:#b7a4b4da;
    margin-bottom: 5%; 
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    height: 70%;
}


.list{
    list-style-type: circle;
    
}
.ulB{
    margin-top: 5%; 
}

li{
    text-align: left;
    list-style-type: none; 
    font-size: 22px; 
    color:#494d5f;
}

li:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #d1c0cfda;
}

.taskList{
    display: grid;
    border-style: solid; 
    border-width: 3px;
    border-color:#d0bdf4; 
    grid-template-columns: 200px 200px; 
    border-radius: var(--main-radius);
    box-sizing: border-box;

    margin-left: 10px;
}

.button1 {
    background: none;
    color: #494d5f;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px; 
    position: absolute;
    right: 20px;
    top: 30px;
}

.button1:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}

.button2 {
    border: none;
    font-size: 20px;
    position: center;
    padding: 10px;
    border-radius: 8px; 
    background-color: #494d5f; /* Background color on hover */
    color: #e0cededa;
}

.button2:hover {
    background-color: #363b4e; /* Background color on hover */
    color: #b19eaeda;
}

.button3b {
    border: none;
    font-size: 20px;
    position: center;
    padding: 10px;
    border-radius: 8px; 
    background-color: #494d5f; /* Background color on hover */
    color: #e0cededa;
    margin-top: 450px;
}

.button3b:hover {
    background-color: #363b4e; /* Background color on hover */
    color: #b19eaeda;
}

.newTaskA {
    border: none;
    font-size: 20px;
    position: center;
    padding: 10px;
    border-radius: 8px; 
    background-color: #494d5f; /* Background color on hover */
    color: #e0cededa;
    margin-top: 450px;
}

.newTaskA:hover {
    background-color: #363b4e; /* Background color on hover */
    color: #b19eaeda;
}

.currentTitle {
    color: #494d5f;
    font-family: "Poppins", bold;
}

.editButton {
    border: none;
    font-size: 20px;
    width: 32px;
    border-radius: 8px; 
    background-color: #494d5f; /* Background color on hover */
    color: #e0cededa;
}

.editButton:hover {
    background-color: #363b4e; /* Background color on hover */
    color: #b19eaeda;
}

.navButtonStyle {
    border: none;
    font-size: 20px;
    position: center;
    padding: 10px;
    border-radius: 8px; 
    background-color: #494d5f; /* Background color on hover */
    color: #e0cededa;
    margin-top: 450px;
}

.navButtonStyle:hover {
    background-color: #363b4e; /* Background color on hover */
    color: #b19eaeda;
}