:root {
    --main-radius: 30px;
    --main-padding: 20px;
}

body {
    font-family: "Poppins", bold;
}
  
.container {
    background-image: url("clouds.png");
    display: grid;
    height: 100vh;
    grid-template-columns: 1.0fr 1.0fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.2fr;
    grid-template-areas:
      "nav nav nav nav"
      "content1 main main content2"
      "content1 main main content3";
    grid-gap: 0.8rem;
    font-weight: 800;
    font-size: 40px;
    color:  #494d5f;
    text-align: center;
    padding-left: 1.7%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
}

.Container2 {
    display: flex;
    max-width: 90%;
    flex-direction: row;
    justify-content:center;
    align-content: center;
    margin-left: 5%;
}

.nav {
    grid-area: nav;
    text-align: center;
    font-size: 40px;
  }
  
.main {
    background-color:#b7a4b4da;
   
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border-style: dashed;
    border-width: 5px;
    border-color:#727088;
  }
  

  
.content1 {
  
    grid-area: content1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    
}
  
.content2 {
    grid-area: content2;
    border-style: dashed; 
    border-width: 5px;
    border-color: #727088; 
    background-color:#b7a4b4da;
    font-size: 30px;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    
  }
  
.content3 {
    grid-area: content3;
    border-style: dashed; 
    border-width: 5px;
    border-color:#727088;
    background-color:#b7a4b4da;
    font-size: 30px;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
  }
  


  section{
    font-size: 28px;
    text-align: left;
    border-style: dashed;
    border-width: 5px;
    border-color:#727088;
    background-color:#b7a4b4da;
    margin-bottom: 5%; 
    border-radius: var(--main-radius);

}

.MemberBox {
    padding: var(--main-padding);
    height: 70%;
}

.list{
    list-style-type: circle;
    
}
ul{
    margin-top: 5%; 
}
li{
    text-align: left;
    list-style-type: none; 
    font-size: 22px; 
}

li:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #d1c0cfda;
}

.taskList{
    display: grid;
    border-style: solid; 
    border-width: 3px;
    border-color:#d0bdf4; 
    grid-template-columns: 200px 200px; 
    border-radius: var(--main-radius);
    box-sizing: border-box;

    margin-left: 10px;

}