

/* Ice Cold: #a0d2eb

Freeze Purple: #e5eaf5

Medium Purple: #d0bdf4

Purple Pain: #8458B3

Heavy Purple: #494d5f */

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d0bdf4; /* Set the background color */
}

.title-container {
  margin-bottom: 10px; /* Add some spacing between the title and the calendar */
  color: #8458B3; /* "Calendar" title color */
  font-size: 30pt;
  align-items: start;
  margin-left: 20px;
  font-family: "Poppins", extrabold;
  position: relative;
  background-color:#d0bdf4;
  width: 1000px;
}

.title button {
  color: #8458B3; /* Back button color */
  background-color: #d0bdf4;
  border: none;
  position: absolute;
  left: 0px ;
  bottom: 0px;
  margin-bottom: 10px;
}

.title button:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}

.title {
  color: #8458B3; /* Month-year title on calendar */
  font-size: 2rem; /* Optional: Adjust the font size */
}
.date {
  color:#8458B3;
}

.react-calendar { 
  width: 1000px;
  max-width: 100%;
  height: 605px;
  background-color: #e5eaf5;
  color: #d0bdf4;
  border-radius: 8px;
  border: none;
  box-shadow: 0 12px 24px #8458B3;;
  line-height: 1.125em;
 }



 .react-calendar__tile {
  color: #494d5f; /* color of all numbers on calendar */
  height: 100px;
}

.calendar-container{
 display: flex;
 justify-content: center;
 align-items: center;
}

 .react-calendar__navigation button {
  color: #8458b3;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #494d5f;
  color: #a0d2eb;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #494d5f;
 }
 abbr[title] {
  text-decoration: none;
 }
/*.react-calendar__month-view__days__day--weekend {
  color: #a0d2eb; If I want to change the color of weekend dates to something else to make the weekends stand out from days ie. red
 } 
 */ 
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #494d5f;
  color: #a0d2eb;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #6f48eb33; /* color of background of active date but not hovered over or clicked on */
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb33; /* color of active date but not hovered over or clicked on */
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #494d5f;
  border-radius: 6px;
  font-weight: bold;
  color: #a0d2eb;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #494d5f; /* date you have selected but one you click somewhere else on the page it stays highlighted*/
  border-radius: 6px;
  font-weight: bold;
  color: #a0d2eb; /* date you have selected but one you click somewhere else on the page it stays highlighted*/
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #494d5f; /* background of color of date you have selected*/ 
  color: #a0d2eb; /* color of date you have selected*/ 
 }

/* NavigationBar css */

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px; /* Adjust the margin as needed */
}

.dropdown-button {
  background-color: #d0bdf4; /* Button background color */
  color: #8458b3; /* Button text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30pt; 
  font-family: "Poppins"; /* Change the font-family */
  font-weight: bold; /* Make the text bold */
}
.dropdown-button:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}

.dropdown-menu {
  position: absolute;
  background-color: #d0bdf4; /* Dropdown background color */
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #494d5f; /* Dropdown link color */
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}

/* TimeSchedule.css */

.daySchedule {
  position: fixed;
  top: 225px;
  right: 60px; /* Position to the far right */
  width: 300px;
  height: 500px; /* Adjust the height as needed */
  z-index: 9999;
  background-color: #e5eaf5;
  color: #8458b3;
  border-radius: 8px;
  box-shadow: 0 12px 24px #8458B3;
  line-height: 1.125em;
  padding: 10px;
}

.dayScheduleHeader h2 {
  margin: 0;
  padding: 20px;
}


.daySchedule p {
  padding: 20px;
  font-size: 16px;
  color: #494d5f;
}

.daySchedule button {
  background: #e5eaf5; /* background blends in */
  border: none;
  color: #8458b3;
  font-size: 20px;
  top: 0px;
  right: 0;
  position: absolute;
  padding: 10px;
  border-radius: 8px; 
}

.daySchedule button:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}

