.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #d0bdf4; /* Set the background color */
  height: 100vh;
  font-family: "Poppins", extrabold;

}

.form-container {
  border: 3px solid #8458b3;
  padding: 40px;
  margin: 40px;
  width: 600px;
  height: 300px;
  display: inline-block;
  text-align: center;
  border-radius: 10px; /* Add border-radius for rounded edges */
  box-shadow: 0 4px 6px #8458b3; /* Add shadow */
  color: #8458b3;
  background-color: #d0bdf4; 
  font-family: "Poppins", extrabold;
  position: relative;
}
.senderLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.senderSelect {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #e5eaf5;
  border-radius: 5px;
  color: #8458b3;
  background-color: #d0bdf4;
}


.inviteButton {
  background-color: #d0bdf4; /* Set the background color of the buttons */
  color: #8458b3; /* Set the text color of the buttons */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 40px;
}
.inviteButton1 {
  background-color: #d0bdf4;
  border: none;
  color: #8458b3; /* Set the text color of the buttons */
  top: 10px;
  padding:10px 20px;
  cursor: pointer;
  margin: 5px;
  position: relative;
  font-size: 40px;
  border-radius: 5px;
}

.inviteButton:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}
.inviteButton1:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}

input {
  width: 100%; /* Make the input element span the entire width of the form */
  padding: 10px;
  margin: 5px 0; /* Add margin around the input element */
  background-color: #494d5f; /* Set the background color */
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px; /* Adjust the margin as needed */
}

.dropdown-button {
  background-color: #d0bdf4; /* Button background color */
  color: #8458b3; /* Button text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30pt; 
  font-family: "Poppins"; /* Change the font-family */
  font-weight: bold; /* Make the text bold */
}
.dropdown-button:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}

.dropdown-menu {
  position: absolute;
  background-color: #d0bdf4; /* Dropdown background color */
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #494d5f; /* Dropdown link color */
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}

.icon{
  position: absolute;
  margin-left:60px;
  font-size: 40px;
  }


  .page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #d0bdf4; /* Set the background color */
    height: 100vh;
    font-family: "Poppins", extrabold;
  
  }
  
  .form-container {
    border: 3px solid #8458b3;
    padding: 40px;
    margin: 40px;
    width: 600px;
    height: 300px;
    display: inline-block;
    text-align: center;
    border-radius: 10px; /* Add border-radius for rounded edges */
    box-shadow: 0 4px 6px #8458b3; /* Add shadow */
    color: #8458b3;
    background-color: #d0bdf4; 
    font-family: "Poppins", extrabold;
    position: relative;
  }
  .senderLabel {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .senderSelect {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #e5eaf5;
    border-radius: 5px;
    color: #8458b3;
    background-color: #d0bdf4;
  }
  
  
  .inviteButton {
    background-color: #d0bdf4; /* Set the background color of the buttons */
    color: #8458b3; /* Set the text color of the buttons */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 40px;
  }
  .inviteButton1 {
    background-color: #d0bdf4;
    border: none;
    color: #8458b3; /* Set the text color of the buttons */
    top: 10px;
    padding:10px 20px;
    cursor: pointer;
    margin: 5px;
    position: relative;
    font-size: 40px;
    border-radius: 5px;
  }

  .inviteButton:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
  }
  .inviteButton1:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
  }
  
  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px; /* Adjust the margin as needed */
  }
  
  .dropdown-button {
    background-color: #d0bdf4; /* Button background color */
    color: #8458b3; /* Button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30pt; 
    font-family: "Poppins"; /* Change the font-family */
    font-weight: bold; /* Make the text bold */
  }
  .dropdown-button:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #d0bdf4; /* Dropdown background color */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #494d5f; /* Dropdown link color */
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
  }

  .icon{
    position: absolute;
    margin-left:60px;
    font-size: 40px;
    }
  
  