body{
    background-color: #d0bdf4;
    font-family: "Poppins", extrabold;
    margin: 0;
}

.ContainerK {
    /* flex-direction: row;
    display: flex;
    justify-content:flex-start;
    background-color: #d0bdf4;
    min-height: 100vh; */
    /*background-color: #d0bdf4;*/
    position: fixed;
    width: 100%;
    overflow: hidden;
    background: url("graphic.png");
    background-position: center top;
    background-size: 1150px;
    margin: 0;
    
  }
    .sb {
    text-decoration: none;
    display: bottom;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 325px;
    height: 40px;
    margin-top: 20px;
    background-color: #494d5f;
    color: #a0d2eb;
    cursor: pointer;
    align-items: center;
    font-family: "Poppins", extrabold;
    clear:left;
    justify-items: center;
    float: left;
}

.lb {
    text-decoration: none;
    display: bottom;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    width: 325px;
    height: 40px;
    background-color: #494d5f;
    color: #a0d2eb;
    cursor: pointer;
    align-items: center;
    font-family: "Poppins", extrabold;
    clear:left;
    float: left;
    margin-top: 20px;
}

button:hover{
    background-color: #e5eaf5;
}

.login {
    text-decoration: none;
    display: inline-block;
    margin-left: 400px;
    font-size: 40px;
}

a {
    text-decoration: none;
}

.s {
    color: #8458b3;
    text-align: center;
    font-size: 50px;
    background-position: fixed;
    background: #d0bdf4;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 20px;
    opacity: 95%;
    padding-left: 360px;
    padding-bottom: 20px;
    cursor: default;

}


.signupBox p {
    color: #8458b3;
    cursor: default;
    
}

.signupBox {
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   background-color: #d0bdf4;
    background-position: fixed;
    padding-left: 5%;
    padding-top: 0px;
    border-radius: 20px;
    height: 600px;
    opacity: 95%;
    margin-top: -20px;
}

.member {
    font-size: 20px;
    display: inline-block;
    cursor: default;
}

.wb {
    color: #8458b3;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 50px;
    background: #d0bdf4;
    padding-bottom: 50px;
    opacity: 95%;
    letter-spacing: 7px;
    cursor: default;
}

.loginBox {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #d0bdf4;
    background-position: fixed;
    padding-left: 75px;
    padding-top: 40px;
    margin-top: -34px;
    padding-bottom: 100px;
    border-radius: 20px;
    height: 300px;
    opacity: 95%
}

.loginBox p {
    color: #8458b3;
    cursor: default;
}

input {
    width: 300px;
    height: 40px;
    background-color: #e5eaf5;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 15px;
    margin-right: 200px;
    margin-top: -20px;
}

input:focus {
    outline: none;
}

error {
    color: red;
    font-size: 10px;
    margin-left: 10px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.nm {
    margin-top: 80px;
    cursor: default;
}

span {
    color: #8458b3;
    cursor: pointer;
    float: right;
    margin-top: -20px;
    margin-right: 40px;
}

.Container2 {
    margin: 0;
}

.t1 {
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    color: #8458b3;
}

.taskDiv {
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
    
}

.files {
    border: dashed;
    border-radius: 20px;
    border-color: #494d5f;
    height: 300px;
    width: 500px;
    margin-top: -30px;
}

.task {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 20px;
    color: #8458b3;
}

.f {
    font-size: 30px;
    color: #8458b3;
    text-decoration: underline;
}

.files {
    padding-left: 40px;
    color: #8458b3;
    width: 450px;
}

.yn {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.yes {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 40px;
    border-radius: 10px;
    background-color: #8fffc9;
    border: none;
    color:#e5eaf5; 
}
.no {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #d95763;
    border: none;
    color:#e5eaf5; 
}

.title {
    text-align: center;
    font-size: 50px;
    color: #8458b3;
}

.id {
    display: flex;
}

.dates {
    width: 300px;
    height: 150px;
    margin-left: 100px;
    color: #8458b3;
    font-size: 25px;
}

.instructions {
    width: 400px;
    height: 300px;
    margin-left: 300px;
}

h2 {
    text-align: center;
    color: #8458b3;
    font-size: 30px;
}

.i {
    height: 400px;
    border: dashed;
    border-radius: 20px;
    border-color: #494d5f;
}

.fileUpload {
    margin-left: 800px;
    margin-top: -150px;
    height: 300px;
    width: 300px;
}

h3 {
    text-align: center;
    color: #8458b3;
    font-size: 30px;
}

.approve {
    position: absolute;
    border: none;
    border-radius: 20px;
    background-color: #494d5f;
    color: #a0d2eb;
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-family: "Poppins", extrabold;
    margin-top: 20px;
    cursor: pointer;
}

.fileContainer {
    margin-top: -25px;
    width: 300px;
    height: 200px;
    border: dashed;
    border-radius: 20px;
    border-color: #494d5f;
    cursor: pointer;
}

.fileContainer p {
    text-align: center;
    font-size: 15px;
    color: #8458b3
}

.fileContainer ul {
    color: #494d5f;
    font-size: 15px;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px; /* Adjust the margin as needed */
  }
  
  .dropdown-button {
    background-color: #d0bdf4; /* Button background color */
    color: #8458b3; /* Button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 30pt; 
    font-family: "Poppins"; /* Change the font-family */
    font-weight: bold; /* Make the text bold */
  }
  .dropdown-button:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #d0bdf4; /* Dropdown background color */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #494d5f; /* Dropdown link color */
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
  }

  Link {
    text-decoration: none;
  }
  









