.navigation {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px; /* Adjust the margin as needed */
}

.dropdown-button {
  background-color: #d0bdf4; /* Button background color */
  color: #8458b3; /* Button text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30pt; 
  font-family: "Poppins"; /* Change the font-family */
  font-weight: bold; /* Make the text bold */
}
.dropdown-button:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}

.dropdown-menu {
  position: absolute;
  background-color: #d0bdf4; /* Dropdown background color */
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #494d5f; /* Dropdown link color */
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #494d5f; /* Background color on hover */
  color: #a0d2eb;
}