:root {
    --main-radius: 30px;
    --main-padding: 20px;
    
}

body {
    font-family: "Poppins", bold;
    
    
   
}
  
.container2{
    background-color:#d0bdf4;
    display: grid;
    height: 100vh;
    grid-template-columns: 1.0fr 1.0fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.2fr;
    grid-template-areas:
      "nav2 nav2 nav2 nav2"
      "content1b main2 main2 content2b"
      "content1b main2 main2 content3b";
    grid-gap: 10px;
    font-weight: 800;
    font-size: 40px;
    color:  #494d5f;
    text-align: center;
    margin: 0;
    

}

.nav2 {
    top: 10px;
    grid-area: nav2;
    text-align: center;
    font-size: 40px;
    position: relative;
  }

button3{
    background: none;
    color: #494d5f;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px; 
    position: absolute;
    right: 550px;
    top: 10px;
}
button3:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}
  
.main2 {
    background-color:#e5eaf5;
    grid-area: main2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: 3px solid #8458b3;
    border-style: dashed;
    position: relative;
    bottom: 20px;
    overflow:auto;
  }
  .main2::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

button4{
    background: none;
    color: #494d5f;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px; 
    position: absolute;
    right: 200px;
    top: 30px;
}
button4:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}
  

  
.content1b {
  
    grid-area: content1b;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    position: relative;
    margin: 20px;
    
    
}
  
.content2b {
    grid-area: content2b;
    border: 3px solid #8458b3;
    border-style: dashed; 
    background-color:#e5eaf5;
    font-size: 30px;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 20px;
  }
  
.content3b {
    grid-area: content3b;
    border: 3px solid #8458b3;
    border-style: dashed;
    background-color:#e5eaf5;
    font-size: 30px;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 20px;
  }
  


.sectionb{
    font-size: 28px;
    text-align: left;
    border: 3px solid #8458b3;
    border-style: dashed;
    background-color:#e5eaf5;
    margin-bottom: 5%; 
    border-radius: var(--main-radius);

}


.list{
    list-style-type: circle;
    
}
.ulB{
    margin-top: 5%; 
}
.liB{
    text-align: left;
    list-style-type: none; 
    font-size: 22px; 
}

.liB:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}

.taskList{
    display: grid;
    border-style: solid; 
    border-width: 3px;
    border-color:#d0bdf4; 
    grid-template-columns: 200px 200px; 
    border-radius: var(--main-radius);
    box-sizing: border-box;

    margin-left: 10px;
}

button1 {
    background: none;
    color: #494d5f;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px; 
    position: absolute;
    right: 20px;
    top: 30px;
}

button1:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}

button2 {
    border: none;
    font-size: 20px;
    position: center;
    padding: 10px;
    border-radius: 8px; 
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}

.smallGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin:10px;
    overflow: auto;
    
}

.smallGridItem {
   
    border: 3px solid #8458b3;
    background-color: #e5eaf5;
    font-size: 18px;
    border-radius: 15px;
    padding: 50px;
    margin-bottom:10px;
    
    
}
p{
    text-align:left;
}

button5{
    background: none;
    color: #494d5f;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;   
}
button5:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}
