:root {
    --main-radius: 30px;
    --main-padding: 20px;
}

body {
    font-family: "Poppins", bold;
}
  
.container {
    background-color:#d0bdf4;
    display: grid;
    height: 100vh;
    grid-template-columns: 1.0fr 1.0fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.2fr;
    grid-template-areas:
      "nav nav nav nav"
      "content1 main main content2"
      "content1 main main content3";
    grid-gap: 10px;
    font-weight: 800;
    font-size: 40px;
    color:  #8458b3;
    text-align: center;
    
}


.nav {
    grid-area: nav;
    text-align: center;
    font-size: 40px;
    margin: 20px;
  }
  
.main {
    background-color:#e5eaf5;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: 3px solid #8458b3;
    border-style: dashed;
    margin: 20px;
    overflow:auto;
  }

  .main::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}
  

  
.content1 {
  
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 20px;
    
    
}
  
.content2 {
    grid-area: content2;
    border: 3px solid #8458b3;
    border-style: dashed; 
    background-color:#e5eaf5;
    font-size: 30px;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 20px;
  }
  
.content3 {
    grid-area: content3;
    border: 3px solid #8458b3;
    border-style: dashed;
    background-color:#e5eaf5;
    font-size: 30px;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 20px;
  }
  


  section{
    font-size: 28px;
    text-align: left;
    border: 3px solid #8458b3;
    border-style: dashed;
    background-color:#e5eaf5;
    margin-bottom: 5%; 
    border-radius: var(--main-radius);

}

.list{
    list-style-type: circle;
    
}
ul{
    margin-top: 5%; 
}
li{
    text-align: left;
    list-style-type: none; 
    font-size: 22px; 
}

li:hover {
    background-color: #494d5f; /* Background color on hover */
    color: #a0d2eb;
}

.taskList{
    display: grid;
    border-style: solid; 
    border-width: 3px;
    border-color:#d0bdf4; 
    grid-template-columns: 200px 200px; 
    border-radius: var(--main-radius);
    box-sizing: border-box;
    margin-left: 10px;

}

.smallGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin:10px;
    overflow: auto;
}

.smallGridItem {
    border: 3px solid #8458b3;
    background-color: #e5eaf5;
    font-size: 18px;
    border-radius: 15px;
    padding: 50px;
    
}



